<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C_GUI_C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="C_GUI_C.Properties.Settings.rifConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\rif.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <C_GUI_C.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>en_EN</value>
            </setting>
            <setting name="obj" serializeAs="String">
                <value />
            </setting>
            <setting name="temp_1" serializeAs="String">
                <value />
            </setting>
            <setting name="temp_2" serializeAs="String">
                <value />
            </setting>
        </C_GUI_C.Properties.Settings>
    </userSettings>
</configuration>